<html>
  <h1>Personal Information</h1>
  <form  action="/getCustomer" method="post" role="form">
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter customer first name">
      <br>
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter customer last name">
      <br>
    </div>
    <button type="submit" class="btn btn-success">Query</button>
  </form>
 
</html>
